<div class="container">
  <div class="page-container">

    <div class="video-details" *ngIf="videoDetails">

      <div *ngIf="isOwnedByCurrentUser">
        <mat-form-field class="custom-input">
          <input matInput *ngIf="isOwnedByCurrentUser" [(ngModel)]="editedTitle" name="editedTitle"
            (input)="checkIfTitleIsEdited()">
        </mat-form-field>
        <button mat-raised-button *ngIf="isOwnedByCurrentUser" [disabled]="isEditing" color="primary" (click)="updateVideoTitle()">Save</button>
      </div>

      <div *ngIf="!isOwnedByCurrentUser">
        <h2>{{ videoDetails.title }}</h2>
      </div>

      <div class="video-container">
        <video class="video-scr" #videoElement [src]="videoDetails?.url" controls>
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="five-pointed-star" [class.active]="isStarActive" [style.display]="displayStyle"></div>

      <div class="info-container">
        <div class="left">
          <button mat-raised-button (click)="takeScreenshot()">
            <mat-icon>photo_camera</mat-icon>
            Snapshot
          </button>
          <button mat-raised-button (click)="updateCurrentTimeAndSendReaction()">
            <mat-icon>star</mat-icon>
            Star
          </button>
        </div>
        <div class="right" *ngIf="videoDetails">
          <img src="{{ videoDetails?.author.pictureUrl }}" alt="User Profile Pic" class="profile-pic">
          <p class="author">{{ videoDetails?.author.name }}</p>
        </div>
      </div>

      <div *ngIf="videoReactions">
        Reaction
      </div>
    </div>



    <div>
      <mat-grid-list cols="6" rowHeight="100px" *ngFor="let reaction of videoReactions">
        <div *ngIf="reaction.type === 'star'">
          <mat-grid-tile colspan="1">
            <mat-icon aria-hidden="false" aria-label="Reaction icon" fontIcon="star"
              class="reaction-icon center"></mat-icon>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <span class="created-timeframe center">{{ reaction.timeframe }}</span>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <span class="title center">{{ reaction.author.name }} a video</span>
            <span class="created-date center">({{ reaction.postedDate | date: 'dd/MM/yyyy' }})</span>
          </mat-grid-tile>
        </div>

        <div *ngIf="reaction.type === 'snapshot'">
          <mat-grid-tile colspan="1">
            <mat-icon aria-hidden="false" aria-label="Reaction icon" fontIcon="photo_camera"
              class="reaction-icon center"></mat-icon>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <span class="created-timeframe center">{{ reaction.timeframe }}</span>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <span class="title center">{{ reaction.author.name }} a video</span>
            <span class="created-date center">({{ reaction.createdDate | date: 'dd/MM/yyyy' }})</span>
          </mat-grid-tile>
          <mat-grid-tile colspan="2">
            <img [src]="reaction.imageUrl" alt="Video Preview" class="preview-image-small">
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>

  </div>