.page-container {
    width: 800px;
    display: block;
    margin: 0 auto;
}

button {
    margin-right: 10px;
    margin-left: 10px;
}

.video-scr {
    width: 800px;
    display: block;
    margin: 0 auto;
}

.custom-input {
    margin-right: 30px;
    width: 85%;
    /* Set the width to 100% for the container */
}

.profile-pic {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.right {
    display: flex;
}

.author {
    margin-top: 10px;
    color: rgb(119, 117, 117);
}

mat-grid-list:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: box-shadow 0.3s, transform 0.3s;
}

.preview-image-small {
    width: 120px;
    height: 70px;
    margin: 10px;
}

.five-pointed-star {
    --star-color: #8f8c8c;
    margin: 1em auto;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    left: 300px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
}

.five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content: "";
    transform: rotate(-35deg);
}

.five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content: "";
}

@keyframes example {
    from {
        top: 200px;
        background-color: #8f8c8c;
    }
    to {
        top: 0px;
        background-color: #ded9d9;
    }
}