.icon-container {
  top: 20px;
  right: 20px;
  flex-direction: row; 
  align-items: center; 
  display: flex;
  justify-content: flex-end; 
}

.icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cart-item {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.title-container {
  width: 100%; /* Adjust the width as needed */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hoverable-card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: scale(1.02); 
  transition: box-shadow 0.3s, transform 0.3s; 
}

.hoverable-card {
  transition: box-shadow 0.3s, transform 0.3s;
}

.row-break {
  flex-basis: 100%;
}

.rectangular-image {
  width: 380px;
  height: 200px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
}

.profile-pic {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ffffff;
}

.date,
.author {
  margin-top: 10px;
  color: rgb(119, 117, 117);
}

.preview-image-small {
  width: 200px; 
  height: 120px; 
  flex-grow: 1;
  margin: 10px;
}

.profile-pic-small {
  width: 50px; 
  height: auto; 
  margin: 10px 15px 10px 15px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ffffff;
}

.video-item {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px 10px 20px 10px; 
  display: flex;
}

.video-item:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: scale(1.02); 
  transition: box-shadow 0.3s, transform 0.3s; 
}

.center {
  align-self: center;
}

.title{
  flex-grow: 100;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.created-date,.list-author{
  color: rgb(119, 117, 117);
}